.home {
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
}
.home {
  overflow-y: scroll;
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.home::-webkit-scrollbar {
  display: none;
}

.home__img {
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 8px☐ hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}
.home__data {
  max-width: 70%;
  margin-inline: auto;
  padding-top: 20px;
}
.home__title {
  position: relative;
  font-size: var(--h1-font-size);
  line-height: 1.24;
  padding-left: 50px;
}
.home__title span {
  color: var(--first-color);
}
.home__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 22%;
  width: 40px;
  border-radius: 10px;
  height: 5px;
  background-color: var(--first-color);
}
.home__description {
  line-height: 2.125;
  margin-block: 16px 40px;
  width: 95%;
}
.color__block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  transform: rotate(-15deg);
  top: -50%;
  left: -83%;
}
@media screen and (min-width: 1024px) {
  .home__description {
    width: 95%;
  }
}
@media screen and (max-width: 576px) {

.home_data{
display: flex;
flex-direction: column;
justify-content: center;
}

}
